.bicicletas-page {
  background-color: var(--cor-12);
  color: var(--cor-1);
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.bicicletas-page h1 {
  font: var(--fonte-11);
}

.bicicletas-page-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.bicicletas-page-item-imagem img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bicicletas-page-item-conteudo {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: flex-start;
  padding: 20px 0px;
}

.bicicletas-page-item-conteudo h2 {
  font: var(--fonte-9);
  display: flex;
  gap: 10px;
}

.bicicletas-page-item-conteudo h2::before {
  display: block;
  content: "";
  width: 15px;
  height: 7.5px;
  background-color: var(--cor-13);
  transition: width 0.5s;
  align-self: center;
}

.bicicletas-page-item-conteudo-titulo-preco {
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}

.bicicletas-page-item-conteudo-titulo-preco span {
  font: var(--fonte-5);
  font-weight: 600;
}

.bicicletas-page-item-conteudo p,
.bicicletas-page-item-conteudo li {
  font: var(--fonte-6);
}

.bicicletas-page-item-conteudo-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.bicicletas-page-item-conteudo li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bicicletas-page-item-conteudo li + li {
  margin-top: 10px;
}

.bicicletas-page-item-conteudo a {
  padding: 15px 20px;
  color: var(--cor-17);
  background-color: var(--cor-13);
  border-radius: 5px;
  font: var(--fonte-5-bold);
  align-self: end;
}

.bicicletas-page-item-conteudo a:hover {
  background-color: var(--cor-14);
}

.bicicletas-page-item-conteudo:has(a:hover) h2::before {
  width: 25px;
}

@media (max-width: 992px) {
  .bicicletas-page {
    gap: 30px;
  }

  .bicicletas-page h1 {
    margin-bottom: 10px;
  }

  .bicicletas-page-item {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .bicicletas-page-item-conteudo {
    gap: 10px;
  }

  .bicicletas-page-item-conteudo-bottom {
    margin-top: 10px;
  }

  .bicicletas-page-item + .bicicletas-page-item {
    margin-top: 40px;
  }

  .bicicletas-page-item-conteudo:has(a:hover) h2::before {
    width: 15px;
  }

  .bicicletas-page-item-conteudo li + li {
    margin-top: 7.5px;
  }
}

@media (max-width: 480px) {
  .bicicletas-page-item-conteudo-bottom {
    gap: 20px;
  }

  .bicicletas-page-item-conteudo a {
    padding: 10px 15px;
  }
}
