.bicicleta-bg {
  background-color: var(--cor-12);
  color: var(--cor-1);
}

.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.bicicleta-titulo {
  grid-column: 1/-1;
}

.bicicleta-titulo h1 {
  font: var(--fonte-11);
  margin-bottom: 10px;
}

.bicicleta-titulo h1 span {
  font: inherit;
}

.bicicleta-titulo span {
  font: var(--fonte-5-bold);
}

.bicicleta-imagem {
  align-self: start;
}

.bicicleta-imagem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bicicleta-conteudo {
  display: flex;
  flex-direction: column;
}

.bicicleta-conteudo p {
  font: var(--fonte-8);
}

.bicicleta-comprar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.bicicleta-comprar span {
  display: flex;
  gap: 10px;
  background-color: var(--cor-11);
  border-radius: 5px;
  font: var(--fonte-1);
  font-weight: 600;
  max-width: max-content;
  padding: 5px;
}

.bicicleta-comprar a {
  padding: 15px 20px;
  background-color: var(--cor-13);
  border-radius: 5px;
  font: var(--fonte-5-bold);
  color: var(--cor-17);
}

.bicicleta-informacoes {
  margin-top: 40px;
}

.bicicleta-informacoes h2 {
  font: var(--fonte-2);
  font-weight: 500;
  margin-bottom: 5px;
}

.bicicleta-informacoes-lista {
  background-color: var(--cor-11);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px;
  border-radius: 5px;
}

.bicicleta-informacoes-lista-item h3 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 7.5px;
  font: var(--fonte-5-bold);
}

.bicicleta-informacoes-lista-item p {
  font: var(--fonte-4);
  max-width: 35ch;
}

.bicicleta-ficha {
  margin-top: 40px;
}

.bicicleta-ficha h2 {
  font: var(--fonte-2);
  font-weight: 500;
  margin-bottom: 5px;
}

.bicicleta-ficha-lista {
  background-color: var(--cor-11);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 5px;
}

.bicicleta-ficha-lista-item {
  font: var(--fonte-4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bicicleta-ficha-lista-item:last-child {
  border: none;
}

.bicicleta-item-span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
