.bicicleta-bg {
  background-color: var(--cor-12);
  color: var(--cor-1);
}

.bicicleta h1 {
  font: var(--fonte-11);
  margin-bottom: 10px;
}

.bicicleta h1 span {
  font: inherit;
  color: var(--cor-13);
}

.bicicleta span {
  font: var(--fonte-5-bold);
}

.bicicleta-conteudo {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
}

.bicicleta-conteudo-imagem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bicicleta-conteudo-descricao {
  display: flex;
  flex-direction: column;
  font: var(--fonte-7);
  gap: 20px;
}

.bicicleta-conteudo-descricao-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bicicleta-conteudo-descricao-bottom a {
  font: var(--fonte-5-bold);
  padding: 15px 20px;
  background-color: var(--cor-13);
  border-radius: 5px;
  color: var(--cor-17);
}

.bicicleta-conteudo-descricao-bottom-imagem {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  background-color: var(--cor-11);
  padding: 5px;
  border-radius: 5px;
  max-width: max-content;
}

.bicicleta-conteudo-descricao-bottom-imagem span {
  font: var(--fonte-1);
  font-weight: 600;
}

.bicicleta-conteudo-informacoes-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-11);
  padding: 30px;
  gap: 20px;
  border-radius: 5px;
  margin-top: 7.5px;
}

.bicicleta-conteudo-informacoes-lista-item {
  max-width: 17ch;
}

.bicicleta-conteudo-informacoes-lista-item div {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 7.5px;
}
.bicicleta-conteudo-informacoes-lista-item h3 {
  font: var(--fonte-5-bold);
}

.bicicleta-conteudo-informacoes-lista-item p {
  font: var(--fonte-3);
}
