:root {
  --cor-1: #fff;
  --cor-2: #fdfdfd;
  --cor-3: #dedede;
  --cor-4: #ccc;
  --cor-5: #b2b2b2;
  --cor-6: #9c9c9c;
  --cor-7: #717171;
  --cor-8: #595959;
  --cor-9: #404040;
  --cor-10: #2e2e2e;
  --cor-11: #111;
  --cor-12: #000;
  --cor-13: #ffbb00;
  --cor-14: #e4a30b;
  --cor-15: #a66f00;
  --cor-16: #664400;
  --cor-17: #332200;
}
