.loja-bg {
  background-color: var(--cor-12);
  color: var(--cor-1);
}

.loja {
  place-self: center;
}

.loja-titulo {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.loja-titulo h2 {
  font: var(--fonte-11);
}

.loja-titulo span {
  font: inherit;
}

.loja-conteudo {
  background-color: var(--cor-11);
  padding: 20px;
  border-radius: 5px;
}

.loja-conteudo h3 {
  font: var(--fonte-9);
  margin: 20px 0px;
}

.loja-conteudo-localizacao {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  font: var(--fonte-5);
}

.loja-mapa {
  width: 800px;
  height: 600px;
  max-width: 100%;
}

.loja-horario {
  display: flex;
  gap: 10px;
  font: var(--fonte-5);
  align-items: center;
}

.loja-horario img {
  display: block;
  width: 20px;
  height: 20px;
}

@media (max-width: 992px) {
  .loja-mapa {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .loja-mapa {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .loja-mapa {
    height: 250px;
  }
}
