.loja-bg {
  background-color: var(--cor-12);
  color: var(--cor-1);
}

.loja {
  place-self: center;
}

.loja-titulo {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.loja-titulo h2 {
  font: var(--fonte-11);
}

.loja-conteudo {
  background-color: var(--cor-11);
  padding: 20px;
  border-radius: 5px;
}

.loja-conteudo h3 {
  font: var(--fonte-9);
  margin: 10px 0px;
}

.loja-conteudo-localizacao {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  font: var(--fonte-5);
}
