.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: var(--cor-11);
  padding: 50px;
  border-radius: 5px;
}

.form label {
  display: inline-block;
  color: var(--cor-1);
  font: var(--fonte-4);
  font-weight: 500;
  margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form textarea {
  font: var(--fonte-3);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--cor-10);
  width: 100%;
  box-sizing: border-box;
  border: none;
  color: var(--cor-1);
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form textarea:focus {
  outline: none;
  border: 2px solid var(--cor-13);
  background-color: var(--cor-7);
}

.form button {
  background-color: var(--cor-13);
  font: var(--fonte-5-bold);
  border-radius: 5px;
  padding: 15px 20px;
  border: none;
  max-width: max-content;
  color: var(--cor-17);
  cursor: pointer;
}

.form button:hover {
  background-color: var(--cor-14);
}

.col-2 {
  grid-column: 1/-1;
}

@media (max-width: 992px) {
  .form {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .form button {
    padding: 10px 15px;
  }
}
