.header-bg {
  background-color: var(--cor-12);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  color: var(--cor-1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-lista {
  display: flex;
  gap: 25px;
  font: var(--fonte-5);
}

.header-lista-item {
  position: relative;
}

.header-lista-item::after {
  content: "";
  display: block;
  background: var(--cor-1);
  height: 3px;
  width: 0;
  transition: width 0.5s;
  position: absolute;
}

.header-lista-item:hover::after,
.header-lista-item.ativo::after {
  width: 100%;
}

@media (max-width: 1200px) {
  .header-lista-item::after {
    display: none;
  }

  .header-lista-item:hover::after,
  .header-lista-item.ativo::after {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-lista {
    gap: 15px;
  }

  .header-lista-item {
    background-color: var(--cor-11);
    padding: 10px;
    border-radius: 5px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }

  .header-lista {
    gap: 15px;
  }

  .header-lista-item::after {
    display: none;
  }
}

@media (max-width: 480px) {
  .header-lista {
    gap: 10px;
  }

  .header-lista-item {
    padding: 10px 5px;
  }
}
