.bicicletas h2 {
  margin-bottom: 40px;
  font: var(--fonte-11);
}

.bicicletas-lista {
  display: flex;
  gap: 50px;
}

.bicicletas-lista-item h3 {
  font: var(--fonte-9);
  margin: 3.5px 0px;
  display: flex;
}

.bicicletas-lista-item h3::before {
  display: block;
  content: "";
  width: 10px;
  height: 7.5px;
  background-color: var(--cor-13);
  transition: width 0.5s;
  align-self: center;
  margin-right: 5px;
}

.bicicletas-lista-item:hover h3::before {
  width: 20px;
}

.bicicletas-lista-item span {
  font: var(--fonte-6);
  color: var(--cor-9);
  padding-left: 17.5px;
}

@media (max-width: 1200px) {
  .bicicletas-lista-item:hover h3::before {
    display: none;
  }
}

@media (max-width: 992px) {
  .bicicletas h2 {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .bicicletas-lista {
    overflow: scroll;
    gap: 25px;
  }

  .bicicletas-lista-item {
    margin-bottom: 7.5px;
  }

  .bicicletas-lista-item img {
    min-width: 175px;
  }
}
