.introducao-bg {
  background-color: var(--cor-12);
  color: var(--cor-1);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 20px 35px 40px 35px;
}

.introducao-conteudo {
  align-self: center;
}

.introducao-conteudo h1 {
  font: var(--fonte-11);
  margin-bottom: 25px;
}

.introducao-conteudo p {
  color: var(--cor-5);
  font: var(--fonte-8);
  margin-bottom: 25px;
}

.introducao-conteudo a {
  background-color: var(--cor-13);
  padding: 15px 30px;
  border-radius: 5px;
  display: inline-block;
  color: var(--cor-17);
  font: var(--fonte-5-bold);
}

.introducao-conteudo a:hover {
  background-color: var(--cor-14);
}

.introducao-imagem img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 650px;
}

@media (max-width: 992px) {
  .introducao-conteudo h1 {
    margin-bottom: 17.5px;
  }

  .introducao-conteudo p {
    margin-bottom: 17.5px;
  }

  .introducao-conteudo a {
    padding: 15px 20px;
  }
}

@media (max-width: 768px) {
  .introducao {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px 35px 30px 35px;
  }

  .introducao-conteudo h1 {
    margin-bottom: 12.5px;
  }

  .introducao-conteudo p {
    margin-bottom: 12.5px;
  }

  .introducao-conteudo a {
    padding: 15px;
  }

  .introducao-imagem {
    display: none;
  }
}

@media (max-width: 480px) {
  .introducao-conteudo h1 {
    margin-bottom: 10px;
  }

  .introducao-conteudo p {
    margin-bottom: 15px;
  }

  .introducao-conteudo a {
    padding: 10px;
  }
}
