.seguros h1 {
  font: var(--fonte-11);
  grid-column: 1/-1;
}

.vantagens-bg {
  background-color: var(--cor-11);
  color: var(--cor-1);
}

.vantagens h2 {
  font: var(--fonte-11);
  padding-bottom: 20px;
}

.vantagens-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 30px 0px 0px 0px;
}

.vantagens-lista h3 {
  font: var(--fonte-7);
  font-weight: 500;
}

.vantagens-lista p {
  font: var(--fonte-5);
}

.vantagens-lista-item div {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}

.perguntas-frequentes-bg {
  background-color: var(--cor-12);
  color: var(--cor-1);
}

.perguntas-frequentes h2 {
  font: var(--fonte-11);
}

.perguntas-frequentes-lista {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.perguntas-frequentes-lista-item {
  background-color: var(--cor-11);
  padding: 20px;
  border-radius: 5px;
}

.perguntas-frequentes-lista dt {
  font: var(--fonte-6);
  font-weight: 600;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
}

.perguntas-frequentes-lista dt::before {
  content: "";
  width: 15px;
  height: 4px;
  display: inline-block;
  background-color: var(--cor-13);
}

.perguntas-frequentes dt::after {
  content: "";
  display: inline-block;
  background-image: url(../../img/icones/seta-abrir.svg);
  width: 14px;
  height: 4px;
  transition: 0.5s;
}

.perguntas-frequentes dt:hover::after {
  transform: rotate(180deg);
}

.perguntas-frequentes-lista-item a {
  text-decoration: underline;
  color: inherit;
}

.perguntas-frequentes-lista dd {
  margin-top: 7.5px;
  font: var(--fonte-4);
}

@media (max-width: 992px) {
  .vantagens h2 {
    padding-bottom: 10px;
  }

  .vantagens-lista {
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }

  .perguntas-frequentes-lista {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .vantagens h2 {
    padding: 0px;
  }

  .vantagens-lista {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .perguntas-frequentes-lista {
    margin-top: 30px;
  }
}
