.seguros h1 {
  font: var(--fonte-11);
  grid-column: 1/-1;
}

.vantagens-bg {
  background-color: var(--cor-11);
  color: var(--cor-1);
}

.vantagens h2 {
  font: var(--fonte-11);
  padding-bottom: 20px;
}

.vantagens-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 30px 0px;
}

.vantagens-lista h3 {
  font: var(--fonte-7);
  font-weight: 600;
}

.vantagens-lista p {
  font: var(--fonte-5);
}

.vantagens-lista-item div {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .vantagens h2 {
    padding-bottom: 10px;
  }

  .vantagens-lista {
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
}

@media (max-width: 768px) {
  .vantagens h2 {
    padding: 0px;
  }

  .vantagens-lista {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}
