.termos-bg {
  background-color: var(--cor-12);
}

.termos h1 {
  font: var(--fonte-11);
  color: var(--cor-1);
  margin-bottom: 50px;
}

.termos-conteudo {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: var(--cor-1);
}

.termos-conteudo-item {
  padding: 20px;
  background-color: var(--cor-11);
  border-radius: 5px;
}

.termos-conteudo-item h2 {
  font: var(--fonte-9);
}

.termos-conteudo-item p {
  margin: 20px 0px;
  font: var(--fonte-6);
}

.termos-conteudo p:last-child {
  margin-bottom: 0px;
}

@media (max-width: 1200px) {
  .termos h1 {
    margin-bottom: 35px;
  }
}

@media (max-width: 992px) {
  .termos-conteudo {
    gap: 30px;
  }
}
