.orcamento-bg {
  background-color: var(--cor-12);
  color: var(--cor-1);
}

.orcamento-titulo {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 10px;
}

.orcamento-titulo span {
  font: var(--fonte-5-bold);
}

.orcamento-titulo h1 {
  font: var(--fonte-11);
}

.orcamento-titulo h1 span {
  font: inherit;
}

.orcamento {
  display: grid;
  grid-template-columns: 0.75fr 1.5fr;
}

.orcamento h2 {
  font: var(--fonte-1);
  font-weight: 600;
  display: flex;
  gap: 5px;
  align-items: center;
}

.orcamento h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 7.5px;
  background-color: var(--cor-13);
}

.orcamento-produto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--cor-1);
  color: var(--cor-12);
  padding: 50px;
  border-radius: 5px 0 0 5px;
}

.orcamento-produto h2 {
  margin-bottom: 20px;
}

.radio-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

.radio-item label {
  background-color: var(--cor-3);
  padding: 10px;
  border-radius: 5px;
  font: var(--fonte-3);
  cursor: pointer;
}

.radio-item label:hover {
  background-color: var(--cor-4);
}

.orcamento-conteudo .radio-item label {
  display: flex;
  gap: 40px;
}

.radio-item span {
  display: none;
}

.radio-item input:checked + label span {
  display: inline-block;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid var(--cor-12);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  border-color: var(--cor-17);
  box-shadow:
    inset 0 0 0 4px var(--cor-1),
    inset 0 0 0 7px var(--cor-12);
}

.orcamento-conteudo,
.orcamento h2:nth-of-type(n + 2) {
  margin-top: 30px;
}

.orcamento-dados {
  border-radius: 0 5px 5px 0;
}

.orcamento-dados button {
  margin-top: 20px;
}

.produto-detalhes {
  display: grid;
  grid-template-columns: 1fr;
  padding: 15px;
  background-color: var(--cor-3);
  margin-bottom: 30px;
  border-radius: 5px;
  gap: 20px;
  place-items: center;
  display: none;
  max-width: max-content;
}

.produto-detalhes img {
  max-width: 200px;
}

.produto-detalhes:last-child {
  margin: 0;
}

.produto-detalhes ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.produto-detalhes li {
  display: flex;
  gap: 10px;
  align-items: center;
  font: var(--fonte-3);
}

.produto-detalhes li img {
  max-width: 20px;
}

.radio-item:has(input:checked) label {
  outline: none;
  border: 2px solid var(--cor-13);
  background-color: var(--cor-4);
}

.orcamento-conteudo:has(#nimbus:checked) .produto-detalhes:nth-of-type(2) {
  display: grid;
  border: 1px solid var(--cor-13);
}

.orcamento-conteudo:has(#magic:checked) .produto-detalhes:nth-of-type(4) {
  display: grid;
  border: 1px solid var(--cor-13);
}

.orcamento-conteudo:has(#nebula:checked) .produto-detalhes:nth-of-type(6) {
  display: grid;
  border: 1.5px solid var(--cor-13);
}

@media (max-width: 1200px) {
  .orcamento {
    grid-template-columns: 1fr;
  }

  .orcamento-produto {
    padding: 30px;
    display: grid;
  }

  .produto-detalhes {
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .produto-detalhes img {
    max-width: 200px;
  }

  .produto-detalhes ul {
    justify-self: start;
  }

  .produto-detalhes {
    display: none;
  }
}

@media (max-width: 768px) {
  .orcamento-produto {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .produto-detalhes {
    grid-template-columns: 1fr;
    max-width: 150px;
  }

  .produto-detalhes img {
    max-width: 130px;
  }

  .produto-detalhes ul {
    justify-self: center;
  }

  .orcamento-conteudo .radio-item label {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100px;
  }
}
